In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
from gensim.models import Word2Vec, Phrases, KeyedVectors
import json
import gensim.downloader as api
import numpy as np
import os

In [4]:
import pandas as pd

In [9]:
import sys
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [19]:
from weat_test_cases import weat_test_cases
from weat_test_cases_recruitment_eng import weat_test_cases_recruitment_eng
from weat_test_cases_recruitment_dutch import weat_test_cases_recruitment_dutch
from weat_test_cases_recruitment_short_eng import weat_test_cases_recruitment_short_eng
from weat import check_consistency_weat, compute_weat_score, compute_combinations_weat_score, count_words_vocab, most_similar

# WORD2VEC

In [11]:
import gensim.downloader as api
word_vectors_gensim_w2vc = api.load("word2vec-google-news-300")

[===========================================-------] 86.9% 1445.4/1662.8MB downloaded

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

[============================================------] 88.9% 1478.2/1662.8MB downloaded

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

[==============================================----] 93.1% 1548.0/1662.8MB downloaded

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

[=================================================-] 98.1% 1631.0/1662.8MB downloaded

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

[==================================================] 100.0% 1662.8/1662.8MB downloaded

### WEAT

In [16]:
result_df = compute_weat_score(weat_test_cases, word_vectors_gensim_w2vc, bool_p=True)
result_df

,Data Name,Targets,Attributes,Method,Score,# of target words,# of attribute words,p-value
0,Math_Arts_Male_Female,Math words vs Arts Words,Male attributes vs Female attributes,weat,0.932301,8,8,0.0
1,Science_Arts_Male_Female,Science words vs Arts words,Male attributes vs Female attributes,weat,1.195163,8,8,0.0

### WEAT Recruitment

In [17]:
result_df = compute_weat_score(weat_test_cases_recruitment_eng, word_vectors_gensim_w2vc, bool_p=True)
result_df

,Data Name,Targets,Attributes,Method,Score,# of target words,# of attribute words,p-value
0,Industrial Work vs Office Work,Industrial Work vs Office Work,Male attributes vs Female attributes,weat,1.334124,5,5,0.0
1,Male dominated industry vs Female dominated in...,Male dominated industry vs Female dominated in...,Male attributes vs Female attributes,weat,1.094622,5,5,0.0
2,Career vs House,Career vs House,Male attributes vs Female attributes,weat,0.854320,5,5,0.0
3,Science vs Female dominated industry,Science vs Female dominated industry,Male attributes vs Female attributes,weat,0.674893,5,5,0.0
4,Expert vs Beginner,Expert vs Beginner,Male attributes vs Female attributes,weat,1.379350,4,5,0.0
5,Leader skills vs Team skills,Leader skills vs Team skills,Male attributes vs Female attributes,weat,1.285939,5,5,0.0

### Check consistency of WEAT over different pairs of M/F attributes

In [22]:
attribute_list = [('masculine', 'feminine'), ('actress', 'actor'), ('womanly', 'manly'), ('girlish', 'boyish'), ('woman', 'man'), ('woman', 'masculine'), ('girly', 'masculine')]
X = 'constructor'
Y = 'nurse'
check_consistency_weat(X,Y, attribute_list, word_vectors_gensim_w2vc)

,X,Y,A,B,WEAT,p-value,count X,count Y,count A,count B
0,constructor,nurse,masculine,feminine,2.0,0.0,2904877,2993603,2964543,2976126
1,constructor,nurse,actress,actor,-2.0,0.0,2904877,2993603,2996066,2997332
2,constructor,nurse,womanly,manly,-2.0,0.0,2904877,2993603,2863054,2952781
3,constructor,nurse,girlish,boyish,-2.0,0.0,2904877,2993603,2889125,2949383
4,constructor,nurse,woman,man,-2.0,0.0,2904877,2993603,2999359,2999749
5,constructor,nurse,woman,masculine,-2.0,0.0,2904877,2993603,2999359,2964543
6,constructor,nurse,girly,masculine,-2.0,0.0,2904877,2993603,2941259,2964543

# GLOVE

In [23]:
word_vectors_gensim = api.load("glove-wiki-gigaword-100")

[==============================--------------------] 60.8% 77.8/128.1MB downloaded

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

[==========================================--------] 84.4% 108.1/128.1MB downloaded

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

[==================================================] 100.0% 128.1/128.1MB downloaded

### WEAT

In [24]:
result_df = compute_weat_score(weat_test_cases, word_vectors_gensim, bool_p=True)
result_df

,Data Name,Targets,Attributes,Method,Score,# of target words,# of attribute words,p-value
0,Math_Arts_Male_Female,Math words vs Arts Words,Male attributes vs Female attributes,weat,1.339048,8,8,0.0
1,Science_Arts_Male_Female,Science words vs Arts words,Male attributes vs Female attributes,weat,1.169992,8,8,0.0

### WEAT Recruitment

In [27]:
result_df = compute_weat_score(weat_test_cases_recruitment_eng, word_vectors_gensim, bool_p=True)
result_df

,Data Name,Targets,Attributes,Method,Score,# of target words,# of attribute words,p-value
0,Industrial Work vs Office Work,Industrial Work vs Office Work,Male attributes vs Female attributes,weat,-0.078479,5,5,0.0
1,Male dominated industry vs Female dominated in...,Male dominated industry vs Female dominated in...,Male attributes vs Female attributes,weat,1.124018,5,5,0.0
2,Career vs House,Career vs House,Male attributes vs Female attributes,weat,1.369048,5,5,0.0
3,Science vs Female dominated industry,Science vs Female dominated industry,Male attributes vs Female attributes,weat,1.051224,5,5,0.0
4,Expert vs Beginner,Expert vs Beginner,Male attributes vs Female attributes,weat,1.712737,4,5,0.0
5,Leader skills vs Team skills,Leader skills vs Team skills,Male attributes vs Female attributes,weat,1.184977,4,5,0.0

### Check consistency of WEAT over different pairs of M/F attributes

In [28]:
attribute_list = [('masculine', 'feminine'), ('actress', 'actor'), ('womanly', 'manly'), ('girlish', 'boyish'), ('woman', 'man'), ('woman', 'masculine'), ('girly', 'masculine')]
X = 'constructor'
Y = 'nurse'
check_consistency_weat(X,Y, attribute_list, word_vectors_gensim)

,X,Y,A,B,WEAT,p-value,count X,count Y,count A,count B
0,constructor,nurse,masculine,feminine,2.0,0.0,356068,393206,381146,385094
1,constructor,nurse,actress,actor,-2.0,0.0,356068,393206,397110,397982
2,constructor,nurse,womanly,manly,-2.0,0.0,356068,393206,300463,376234
3,constructor,nurse,girlish,boyish,-2.0,0.0,356068,393206,336010,365335
4,constructor,nurse,woman,man,-2.0,0.0,356068,393206,399213,399700
5,constructor,nurse,woman,masculine,-2.0,0.0,356068,393206,399213,381146
6,constructor,nurse,girly,masculine,-2.0,0.0,356068,393206,327785,381146